* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
	width: 100%;
	padding: 50px 0;
	box-sizing: border-box;
}

#map {
	width: 548px;
	height: 548px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid black;
	position: relative;
}

#svg_nodes, #svg_lines{
	position: absolute;
	width: 100%;
	height: 100%;
}

#svg_nodes {
	z-index: 100;
	fill: black;
}

.svg_node:hover {
	fill: red;
	cursor: pointer;
}

#svg_lines {
	z-index: 50;
}

#map_control {
	margin: auto;
	width: 550px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
}

#draw_graph_btn {
	width: 150px;
	height: 50px;
	cursor: pointer;
}

#nodes_nbr {
	width: 150px;
	height: 50px;
	padding: 10px 20px;
	box-sizing: border-box;
}
